$primary-color: #f92a81;
$secondary-color: #1E62FA;
$tertiary-color: #11FA1C;

$background-1: #ffffff;
$background-2: #f8f8f8;

$body-1: #494a60;
$body-2: #6f717c;

// Dark mode variables
$background-1--dark: #1b1c22;
$background-2--dark: #222430;

$body-1--dark: #ffffff;
$body-2--dark: #c7c9da;
