$primary-color: #f92a81;
$secondary-color: #1E62FA;
$tertiary-color: #11FA1C;

$background-1: #ffffff;
$background-2: #f8f8f8;

$body-1: #494a60;
$body-2: #6f717c;

.pd-dark-mode {
  $background-1: #1b1c22;
  $background-2: #222430;

  $body-1: #ffffff;
  $body-2: #c7c9da;
}
