@import "colors";

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --tertiary-color: #{$tertiary-color};

    --background-1: #{$background-1};
    --background-2: #{$background-2};

    --body-1: #{$body-1};
    --body-2: #{$body-2};



    --ps-gradient: linear-gradient(90deg, #{$primary-color} 0%, rgba(140, 70, 190, 1) 50%, #{$secondary-color} 100%);
    --pt-gradient: linear-gradient(90deg, #{$primary-color} 10%, rgba(133, 146, 79, 1) 50%, #{$tertiary-color} 100%);

    --sp-gradient: linear-gradient(270deg, #{$primary-color} 0%, rgba(140, 70, 190, 1) 50%, #{$secondary-color} 100%);
    --st-gradient: linear-gradient(90deg, #{$secondary-color} 10%, rgba(24, 174, 139, 1) 50%, #{$tertiary-color} 100%);

    --tp-gradient: linear-gradient(270deg, #{$primary-color} 10%, rgba(133, 146, 79, 1) 50%, #{$tertiary-color} 100%);
    --ts-gradient: linear-gradient(270deg, #{$secondary-color} 10%, rgba(24, 174, 139, 1) 50%, #{$tertiary-color} 100%);
}

.pd-dark-mode {
    --background-1: #{$background-1--dark};
    --background-2: #{$background-2--dark};

    --body-1: #{$body-1--dark};
    --body-2: #{$body-2--dark};
}

body {
    background-color: var(--background-1);
}
