@font-face {
    font-family: 'PayPal Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/PayPal_Sans_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'PayPal Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/PayPal_Sans_Regular.ttf') format('truetype');
}
